<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.stuConnectionString"
            connectionString="Data Source=HONGKE914;Initial Catalog=stu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>